/******Custom Style by SK********/
.page_content {
    padding:20px;
}

/*logo hover effect */
.mf_logo {
    width:150px;
    height:80px;
    display:inline-block;
    box-sizing:border-box;
    padding: 60px;
    background: url('//codecloud.cdn.speedyrails.net/sites/59357f206e6f6466b84f0000/image/png/1447442105000/mf_icon.png') no-repeat;
    background-size:contain;
    /*no-repeat scroll 0% 0% transparent;*/
}

.mf_logo:hover {
    background:url('//codecloud.cdn.speedyrails.net/sites/59357f206e6f6466b84f0000/image/png/1500583203000/MF logo-02.png') no-repeat;
    background-size:contain;
    /*no-repeat scroll 0% 0% transparent;*/
}

.slick-slider {
    height: 300px;
    margin: 10px 5%;
}
.slick-slide {
    overflow:hidden;
    margin: 40px 20px;
    /*height:250px;*/
    /*background-color: rgba(161, 168, 169, 0.75);*/
    box-shadow: 0px 0px 10px 8px #888888;
    /*margin-top: 95px;*/
}
.slick-slide img {
    z-index:-1;
    position: relative;
}
.slick-center{
    width:200%;
    box-shadow: 0px 0px 10px 8px #5ac3d6;
    /*height:350px;*/
    background-color: initial;
    /*margin-top: 40px;*/
}

.center img {
    max-width:100%;
    max-height:100%;
}
.prev{
    display: block;
    height: 30px;
    width: 30px;
    background: url(//codecloud.cdn.speedyrails.net/sites/5914aa456e6f642702040000/image/png/1494597988000/bg_direction_nav.png) no-repeat scroll 0 0 transparent;
    /*box-shadow: 0px 0px 10px 8px #888888;*/
    float: left;
    position: absolute;
    top: 50%;
    left: 30px;
}
.next{
    display: block;
    height: 30px;
    width: 30px;
    background: url(//codecloud.cdn.speedyrails.net/sites/5914aa456e6f642702040000/image/png/1494597988000/bg_direction_nav.png) no-repeat scroll -30px 0 transparent;
    /*box-shadow: 0px 0px 10px 8px #888888;*/
    float: right;
    position: absolute;
    top: 50%;
    right: 30px;
    }
.img_box_shadow {
    box-shadow: 0px 0px 10px 8px #888888;
}

.dev_content {
    font-size: 15px;
	line-height: 1.67;
	letter-spacing: -0.3px;
	color: #5a5a5a;
}
.dev_title {
    font-size: 50px;
	font-weight: 300;
	color: #2d2d2d;
    margin : 0 0 30px;
}
.client_image {
    border-radius: 5px;
    padding:25px;
}

.no_padding {
    padding:0;
}

.no_margin {
    margin:0;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}